body {
    font-family: sans-serif;
    margin-top: 75px;
    background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
/* extra CSS has been added from here: */
.btn-great{
    width:400px;
    padding:40px 0px;
    background:rgba(222,150,70,1);
    border:2px solid rgba(222,150,70,1);
    color:white;
    font-size:1em;
    cursor:pointer;
    transition: background 2s;
    
}
.btn-great:hover{
    background:rgba(22,150,70,1);
    border:2px solid rgba(222,150,70,1);
    color:white;
}
